<!-- Authors: Nathaniel Frissell and Francis Tholley-->

<table class="table">
    <tr>
        {% if record.music_analysis_status %}
        <td class="submit-cell statusNormal" colspan="100">
            <strong>Event is Complete!</strong>
        </td>
        {% else %}
            <td class="submit-cell warning" colspan="100">
              <strong>Event is Incomplete</strong>
            </td>
        {% endif %}
    </tr>
                <!-- Detected Signal Table -->
    {% if webData.sigList %}
    <tr>
        <th scope="col"><input type="checkbox" id="signals_checkall"></th>
        <th scope="col">Serial</th>
        <th scope="col">Order</th>
        <th scope="col">Kx [1/km]</th>
        <th scope="col">Ky [1/km]</th>
        <th scope="col">|K| [1/km]</th>
        <th scope="col">&lambda; [km]</th>
        <th scope="col">Azm [&deg;]</th>
        <th scope="col">f [mHz]</th>
        <th scope="col">T [min]</th>
        <th scope="col">v [m/s]</th>
        <th scope="col">Value</th>
        <th scope="col">Area [px]</th>
    </tr>
    {% for sig in webData.sigList %}
    <tr>
        <td><input type="checkbox" name="signals" class="signals form-check-input mb-2" value="{{ sig.order }}"></td>
        <td></td>
        <td>{{ sig.order }}</td>
        <td>{{ sig.kx }}</td>
        <td>{{ sig.ky }}</td>
        <td>{{ sig.k }}</td>
        <td>{{ sig.lambda }}</td>
        <td>{{ sig.azm }}</td>
        <td>{{ sig.freq }}</td>
        <td>{{ sig.period }}</td>
        <td>{{ sig.vel }}</td>
        <td>{{ sig.max }}</td>
        <td>{{ sig.area }}</td>
    </tr>
    {% endfor %}
    <tr>
        <!-- <td></td>
        <td></td>
        <td></td>
        <td> <input class="form-control mb-2" type="text" id="new_kx" name="new_kx" size="8"></td>
        <td> <input class="form-control mb-2" type="text" id="new_ky" name="new_ky" size="8"></td>
        <td> <button id="add_to_detected" class="button-62-on-music_edit-page">Add</button> -->
        <td colspan="7">
            <button id="del_from_detected" class="button-62-on-music_edit-page">Remove Signals from Detected List</button>
        </td>
    </tr>
    <tr>
        <td class="submit-cell" colspan="100">
            <button id="add_music_params_db" class="button-62-on-music_edit-page">Add Signals to Database</button>
        </td>
    </tr>
    {% endif %}
    <!-- End Detected Signal Table -->
    <!-- Signals already associated with event -->
    {% if webData.sigsInDb %}
        <tr>
            <th scope="col"><input type="checkbox" id="signals_in_db_checkall" class="form-check-input mb-2"></th>
            <th scope="col">Serial</th>
            <th scope="col">Order</th>
            <th scope="col">Kx [1/km]</th>
            <th scope="col">Ky [1/km]</th>
            <th scope="col">|K| [1/km]</th>
            <th scope="col">&lambda; [km]</th>
            <th scope="col">Azm [&deg;]</th>
            <th scope="col">f [mHz]</th>
            <th scope="col">T [min]</th>
            <th scope="col">v [m/s]</th>
            <th scope="col">Value</th>
            <th scope="col">Area [px]</th>
        </tr>
        {% for sig in webData.sigsInDb %}
        <tr>
            <td><input type="checkbox" name="signals_in_db" class="signals_in_db form-check-input mb-2" value="{{ sig.serialNr }}"></td>
            <td>{{ sig.serialNr }}</td>
            <td>{{ sig.order }}</td>
            <td>{{ sig.kx }}</td>
            <td>{{ sig.ky }}</td>
            <td>{{ sig.k }}</td>
            <td>{{ sig.lambda }}</td>
            <td>{{ sig.azm }}</td>
            <td>{{ sig.freq }}</td>
            <td>{{ sig.period }}</td>
            <td>{{ sig.vel }}</td>
            <td>{{ sig.max }}</td>
            <td>{{ sig.area }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td class="submit-cell" colspan="100">
                <button id="del_music_params_db" class="button-62-on-music_edit-page">Remove Signals from Database</button>
            </td>
        </tr>
    {% endif %}
    <!-- End Signals already associated with event -->
    <tr>
        <td class="submit-cell" colspan="100">
            {% if record.music_analysis_status %}
                <button id="music_mark_incomplete" class="button-62-on-music_edit-page">Mark Event as Incomplete</button>
            {% else %}
                <button id="music_mark_complete" class="button-62-on-music_edit-page">Mark Event as Complete</button>
            {% endif %}
        </td>
    </tr>
    <tr>
        {% if record.music_analysis_status %}
            <td class="submit-cell statusNormal" colspan="100">
                <strong>Event is Complete!</strong>
            </td>
        {% else %}
            <td class="submit-cell warning" colspan="100">
                <strong>Event is Incomplete</strong>
            </td>
        {% endif %}
    </tr>
</table>
